.contact-banner {
  padding: 150px 0;
  color: #f8f8f8;
  background: url(assets/images/banner-contact.jpg) no-repeat center center;
  background-size: cover;
}

.contact-banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 3em;
  margin-left: 100px;
}

.contact-heading {
  margin-bottom: 15px;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

.no-padding {
  padding: 0;
}

@media(max-width: 768px) {
  .btn-send {
    width: 100%;
  }
}

